.lowercase-btn {
  text-transform: none !important;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-expansion-panel-text__wrapper {
  padding: 8px 8px 8px !important;
}
